<a href="{% url 'index' %}">Diario Inicial</a>  - <a href="{% url 'topics' %}">Topicos</a>

    <ul>
        {% if user.is_authenticated %}
                            <li><a >Olá, {{user.username}}</a></li>
                            <li><a href="{% url 'logout' %}">Sair</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}">Entrar</a></li>
                            <li><a href="{% url 'register' %}">Registrar</a></li>
                        {% endif %}
    </ul>

{% block content %} {% endblock content %}